body {
  background-color: #681a61;
  color: #ffffff;
  text-align: center;
  margin: 0 50px;
}

section {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3 {
  color: yellow;
  margin-top: 70px;
}

h1:first-child {
  margin-top: 20px;
}

p {
  font-size: 22px;
  color: #9ad9dc;
}

img {
  margin-right: 30px;
}