body {
  background-color: #1d491f;
  color: #ffffff;
  text-align: center;
}

section {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3 {
  color: yellow;
  margin-top: 70px;
}

h1:first-child {
  margin-top: 20px;
}

p {
  font-size: 28px;
  color: #9ad9dc;
}